.header, header {
    background: #602a80!important;
}

.logo,logo {
    background: url(../icon.png) no-repeat no-repeat 3px 5px;
    background-size: 41px;
    text-indent: 49px;
}

::selection {
    background: #602a80!important;
    color: #fff!important;
}

.h1, h1 {
    color: #602a80!important;
}

.navmenu {
    color: #602a80!important;
}
.navmenu ul > li:hover {
    background: #602a80!important;
}

ul.tabs{border-bottom:1px solid #602a80}
ul.tabs li a:active{color:#602a8080;border-bottom:4px solid #602a8080}
ul.tabs li.current a{color:#602a80;border-bottom:4px solid #602a80}

button.color{background:#602a80;color:#fff;font-weight:bold;padding:10px;font-size:16px}
button.color:hover{background:#fff;color:#602a80}

.footer,footer{background:#602a80}
